body{
  background-color: #eee;
}
header{
  height: 60px;
  background-color: #c0c0c0;
  position: relative;
}
header h1{
  font-family: 'Cherry Swash', cursive;
  padding-top: 6px;
  padding-left: 130px;
  color: #00f;
  display: inline-block;
}
.nav{
  position:absolute;
  top: 16px;
  right: 160px;
  font-size: 20px;
}
.left_nav{
  padding-right: 40px;
}
.search{
  position:absolute;
  top: -10px;
  left: 480px;
}
input[type="search"] {
  width: 200px;
}
.none{
  display: none;
}
.fa-bars{
  display: none!important;
}
@media screen and (max-width: 479px){
  header{
    width: 360px;
  }
  header h1{
    width: 360px;
    padding-top: 16px;
    padding-left: 10px;
    font-size: 30px;
  }
.search{
  display: none;
}
.fa-bars{
  display: inline!important;
  position: absolute;
  top:24px;
  right: 30px;
  cursor: pointer;
}
.big a{
  display: none;
}
.small{
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background-color: #FFF;
  border: 1px solid #000;
  z-index: 1;
}
.none{
  display: none;
}
.small ul{
  list-style-type:none;
  margin-top: 40px;
  margin-left: 20px;
  padding-left: 10px;
}
.small li{
  margin-bottom: 10px;
}
.small .side-nav{
  margin-left: 100px;
}
.small .side_search{
  margin-top: 40px;
}
}

@media screen and (min-width:768px) and ( max-width:1024px){
header h1{
  width: 360px;
  padding-left: 10px;
}
.nav{
  position:absolute;
  top: 16px;
  right: 20px;
  font-size: 20px;
}
.left_nav{
  padding-right: 20px;
}
.search{
  position:absolute;
  top: -10px;
  left: 220px;
}
input[type="search"] {
  width: 160px;
}
}
