// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// top
.top{
  background-color: #000;
  height: 3150px;
}
.title{
  height: 750px;
  width: 100%;
  background-image:  image-url('top.jpg');
  background-size:  cover;
}
.title h1{
  color: #fff;
  font-size: 80px;
  padding-top: 80px;
  padding-left: 180px;
}
.catch{
  color: #fff;
  padding-top: 50px;
  padding-left: 240px;
}
.catch h2{
  font-size: 40px;
  margin-bottom: 20px;
}
.top_nav{
  margin-top: 60px;
  margin-left: 250px;
}
.title .left_nav{
  padding-right: 12px;
  margin-right: 50px;
}
.arrow{
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color:  transparent transparent #fff #fff;
  transform: rotate(-45deg);
}
.left_arrow{
  margin-left: 100px;
}
.middle_arrow{
  margin-left: 550px;
}
.right_arrow{
  margin-left: 570px;
}
.describe{
  margin-top: 50px;
  margin-left: 240px;
  background-image: image-url('describe.jpg');
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 1000px;
}
.like{
  margin-top: 50px;
  margin-left: 240px;
  background-image: image-url('like.jpg');
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 1000px;
}
.grow{
  margin-top: 50px;
  margin-left: 240px;
  background-image: image-url('grow.jpg');
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 1000px;
}
.question{
  margin-top: 50px;
  margin-left: 240px;
  background-image: image-url('question.jpg');
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 1000px;
}
.caption {
	font-size: 130%;
	color: #fff;
	padding-top: 80px;
}
.mask {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform:	scale(0);
	transform: scale(0);
}
.app_describe:hover .mask {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.inside_link{
  font-size: 60px;
  margin-top: 40px;
  margin-left: 590px;
}
