// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// sign_up
.sign_up{
  height: 350px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 40px;
  margin-left: 400px;
}
.sign_up_form{
  margin-top: 20px;
  margin-left: 60px;
}
.sign_up .actions{
  margin-top: 25px;
  margin-left: 25px;
}

@media screen and (max-width: 479px){
.sign_up{
  margin-left: 50px;
}
}

// password_reset
.password_reset{
  height: 350px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 40px;
  margin-left: 400px;
}
.reset_form{
  margin-top: 20px;
  margin-left: 60px;
}

@media screen and (max-width: 479px){
.password_reset{
  margin-left: 50px;
}
}

// change_password
.change_password{
  height: 250px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 40px;
  margin-left: 400px;
}
.change_form{
  margin-top: 20px;
  margin-left: 60px;
}
.change_password .actions{
  margin-top: 25px;
}

@media screen and (max-width: 479px){
.change_password{
  margin-left: 50px;
}
}


// my_page
.my_page{
width: 600px;
height: 560px;
border: 1px solid #000;
margin-top: 70px;
margin-left: 270px;
position: relative;
}

.my_page img{
  height: 250px;
  width: 250px;
  border-radius: 250px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 40px;
}
.my_page .user_profile{
  margin-left: 20px;
}
.my_page .my_page_links{
  position: relative;
  top: -350px;
  left: 370px;
}
.user_profile_image{
  margin-bottom: 10px;
}
.user_name{
  display: inline-block;
  padding-left: 80px;
  padding-bottom: 10px;
}
.user_email{
  display: inline-block;
  padding-left: 80px;
  padding-bottom: 20px;
}
.my_page input[type="submit"] {
  margin-left: 130px;
}

@media screen and (max-width: 479px){
.my_page{
  width: 370px;
  height: 500px;
  margin-left: 10px;
}
.my_page img{
  height: 150px;
  width: 150px;
}
.my_page .my_page_links{
  top: -410px;
  left: 210px;
}
.user_name{
  padding-left: 40px;
}
.user_email{
  padding-left: 40px;
}
.my_page input[type="submit"] {
  margin-left: 80px;
}
}

// password_edit
.edit_password{
  margin-top: 50px;
  margin-left: 380px;
}
.password_form{
  width: 340px;
  border: solid 1px #000;
  margin-top: 20px;
}
.password_form p{
  margin-bottom: 0;
}
.password_form label{
  margin-top: 10px;
}
.password_form .field{
  margin-left: 80px;
}
.password_form .actions{
  margin-top: 20px;
  margin-left: 84px;
}
.password_form .back{
  margin-top: 10px;
  margin-left: 145px;
  margin-bottom: 10px;
}

@media screen and (max-width: 479px){
.edit_password{
  margin-left: 20px;
}
}

// password_new
.password_reset{
  height: 200px;
  margin-top: 130px;
}
.password_reset .field{
  padding-top: 10px;
  padding-bottom: 20px;
}
.password_reset .actions input[type="submit"] {
  margin-left: -30px;
}

@media screen and (max-width: 479px){
.password_reset{
  margin-left: 50px;
}
}
