// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// sign_up
.sign_up{
  height: 350px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 40px;
  margin-left: 400px;
}
.sign_up_form{
  margin-top: 20px;
  margin-left: 60px;
}
// password_reset
.password_reset{
  height: 350px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 40px;
  margin-left: 400px;
}
.reset_form{
  margin-top: 20px;
  margin-left: 60px;
}
